:root {
  --Iris: #4d5ae5;
  --Navy-Blue: #2e2f42;
  --Slate: #434455;
  --White: #fff;
  --Cloud: #f4f4fd;
  --Ocean: #404bbf;
}

/* General Styles  */
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: var(--Navy-Blue);
}
/* End Of General Style  */

/* Header Section  */

/* End of Header Section  */

/* Logo Section  */

/* End of Logo Section  */

/* Menu Links  */

/* End of Menu Links  */

/* Contacts Section  */

/* End of Contacts Section  */

/* Hero Section  */

/* End of Hero Section  */

/* Benefits Section  */

/* End of Benefits Section  */

/* What We Do Section  */

/* End of What We Do Section  */

/* Team Section  */

/* End of Team Section  */

/* Footer Section  */
.footer {
  background-color: var(--Navy-Blue);
}

.footer a {
  text-decoration: none;
  color: var(--Cloud);
  font-size: 18px;
  font-family: inherit;
}

.footer p {
  color: var(--Cloud);
  font-size: 16px;
  font-family: inherit;
}
/* Footer Section  */
