.root {
  --Iris: #4d5ae5;
  --Navy-Blue: #2e2f42;
  --Slate: #434455;
  --White: #fff;
  --Cloud: #f4f4fd;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  color: var(--Navy-Blue);
}

.header-logo {
  text-decoration: none;
  color: var(--Navy-Blue);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-menu {
  text-decoration: none;
  list-style-type: none;
  color: var(--Navy-Blue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 0;
}

.header-contacts {
  text-decoration: none;
  list-style-type: none;
  color: var(--Slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding: 0;
}

.hero {
  background-color: var(--Navy-Blue);
}

h1 {
  color: var(--White);
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 07.143%,
letter-spacing: 1.12px;
}

button {
  background-color: var(--Iris);
  color: var(--White);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
}
